.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  padding-left: 40px;
  background-color: rgb(231, 231, 231); 
  color: rgb(0, 0, 0);
  position: relative;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-icon {
  font-size: 25px; 
  margin-right: 10px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.header-nav {
  width: 100%;
  margin-top: 20px;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

.nav-item {
  margin-right: 20px; 
}

.nav-link {
  text-decoration: none;
  color: rgb(95, 95, 95);
  font-size: 15px;
  transition: color 0.3s, border-bottom 0.3s;
  padding-bottom: 5px;
}

.nav-link:hover {
  color: #000000;
  border-bottom: 2px solid #000000; 
}